:root {
  --primary: #2a2a72;
  --secondary: aliceblue;
  --white: white;
  --black: black;
  --dark: #232528;
  --background: rgba(225, 193, 195, 0.2);
  --mid-grey: rgb(105, 105, 105);
  --gutter: 1rem;
  --sm: 375px;
  --md: 768px;
  --lg: 1024px;
}

html {
  background-color: var(--background);
}

a {
  color: var(--primary);
  width: fit-content;
  font-weight: 800;
  text-decoration: none;
  border-bottom: 2px solid orangered;
  padding: 0 0.125rem;
}

a:focus,
a:hover,
a:active {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--white);
  outline: none;
}

.active {
  background-color: var(--primary);
  color: var(--white);
  border-bottom: 2px solid orangered;
}
