.footer {
  background-color: var(--white);
  flex-shrink: 0;
  padding: var(--gutter);
}

.footer__nav {
  display: flex;
  flex-direction: column;
  max-width: var(--md);
  margin: 0 auto;
}

.footer__item {
  font-weight: 400;
  margin-left: -0.5rem;
  padding: 0.5em;
  border: none;
}

.footer__item:focus,
.footer__item:hover,
.footer__item:active {
  border-bottom: 2px solid orangered;
}

@media screen and (min-width: 768px) {
  .footer__nav {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .footer__item {
    margin-left: 0.25rem;
    padding: 0.25rem;
  }
}
