.card {
  background-color: var(--white);
  padding: 1.5rem;
  margin-bottom: 0.75rem;
}

.card__title {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.card__readTime {
  display: inline-block;
  color: var(--mid-grey);
}
